@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Optional: Prevent scrolling completely */
 
  
  /* Or if you still want scrolling but no visible scrollbar */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  